[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.2.*"
"psycopg2" = ">=2.8.1"

[dev-packages]
Sphinx = "*"
sphinx-autobuild = "*"
twine = "*"
coverage = "*"
mock = "*"
setuptools-scm = "*"
wheel = "*"
pre-commit = "*"
sphinx-palewire-theme = "*"
myst-parser = "*"

[requires]
python_version = "3.11"
