[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.0.8"
"psycopg2-binary" = "*"

[dev-packages]
Sphinx = "*"
sphinx-autobuild = "*"
twine = "*"
"flake8" = "*"
coverage = "*"
python-coveralls = "*"
tox = "*"
requests = ">=2.20.0"

[requires]
python_version = "3.6"
